{% extends "index.html" %}

{% block content %}
<h2>Treinamento do Modelo</h2>

<form method="POST" class="mt-3">

    <label class="form-label">Escolha o Modelo</label>
    <select name="modelo" class="form-select">
        <option value="linear">Regressão Linear</option>
        <option value="rf">Random Forest</option>
        <option value="knn">KNN</option>
    </select>

    <button class="btn btn-warning mt-3">Treinar</button>
</form>

{% if score is not none %}
<div class="alert alert-info mt-4">
    <strong>Acurácia do modelo:</strong> {{ score }}
</div>
{% endif %}

{% endblock %}
